@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 248, 250, 252;
  --background-end-rgb: 248, 250, 252;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f8fafc;
}

@layer components {
  .btn-kst {
    @apply bg-kst-blue text-white px-4 py-2 rounded-md hover:bg-opacity-90 transition-all font-medium;
  }
  
  .badge {
    @apply px-2 py-1 rounded-full text-xs font-semibold;
  }
}
